# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions
.pnpm-store/
.npm/

# build / output
.next/
out/
build/
dist/
.turbo/
.cache/
.swc/

# testing
coverage/

# logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# env
.env
.env.local
.env.*.local
.env.*.backup
!.env.example

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# caches
.eslintcache
.stylelintcache

# OS
.DS_Store
Thumbs.db

# IDE / editor
.vscode/*
!.vscode/settings.json
.idea/

# misc
*.pem
*.tmp
*.temp